.body {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    width: 70%;
}

.container {
    padding: 10px 0;
}

.header__container {
    display: flex;
    padding-top: 20px;
}

.photo {
    max-width: 35%;
    border-radius: 50%;
}

.container-name {
    text-align: center;
    padding-left: 50px;  
    padding-top: 20px;  
}

h1 {
    font-size: 2rem;
}

.navigation {
    display: flex;
    align-items: stretch;
}

.navigation-list {
    list-style-type: none;
    padding: 0 10px;
}

.section-heading {
    text-align: center;
    border-bottom: 1px solid burlywood;
}

.logo {
    max-width: 20%;
}

li {
    list-style-type: none;
}


.languages__content{
    display: flex;
    justify-content: space-around;
}